[submodule "ai/ai_group_project"]
	path = ai/ai_group_project
	url = https://github.com/PJ-Leyden/ai_group_project.git
[submodule "intro_to_game_programming/igp_classproject"]
	path = intro_to_game_programming/igp_classproject
	url = git@github.com:PJ-Leyden/igp_classproject.git
[submodule "data_mining/reddit_miner"]
	path = data_mining/reddit_miner
	url = git@github.com:PJ-Leyden/reddit_miner.git
